@import "palette", "fonts"
 
body
  font-family: $base_sans
  font-weight: 300

h1
  margin-bottom: 0.25em
  letter-spacing: -0.04em
  font-size: 3em
  font-family: $title_slab
  color: $brand

h2
  font-size: 2em
  margin-bottom: .25em
  letter-spacing: -0.04em
  font-family: $title_slab
  color: $brand

h3
  font-size: 1.5em
  margin-bottom: 0.5em
  color: $offblack
  
h2.circletext
  font-size: 60px
  letter-spacing: -0.04em
  font-family: $number_sans
  color: $white

p
  line-height: 1.5
  margin-bottom: 0.5em
  &.tagline
    font-size: 1.5em
a
  color: $brand
  text-decoration: none
  &:link
    color: #FFFFFF
  &:hover
    text-decoration: underline

blockquote
  font-family: $base_serif
  font-size: 1.25em
  line-height: 1.25em
  margin: 0.5em 0 0.75em

